header {
    background-color: #4da0fe;
    background-image: url(./image/pattern.png);
    background-size: 400px;
    height: 100px;
}

#logo {
    width: 200px;
    position: relative;
    top: 44px;
}